#mainDiv
{
    margin-top: 5em;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#topInfoBar
{
    width:100%;
    height: 2em;
    background-color: rgb(30, 40, 187);
}

#deviceName
{
    color: white;
    margin-left: 0.7em;
    font-family: Helvetica;
    padding-top: 0.3em;
}

#deviceInfo
{
    margin-top: 0em;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );

}

.numericMeasurement
{
    font-size: 3.5em;
    text-align: center;
}

.date 
{
    font-size: 1.5em;
}


.infoLabel
{
    font-family: Helvetica;
    font-size: 1.5em;
    text-align: center;
}