<div id = "mainDiv">
    <div id = "topInfoBar">
        <p id = "deviceName">brook</p>
    </div>
    <div id = "deviceInfo">
        <div class = "gridItem">
            <p class = "infoLabel">Temperature</p>
            <p id = "deviceTemp" class = "numericMeasurement">{{lastMeasurement.temperature}}</p>
        </div>
        <div class = "gridItem">
            <p class = "infoLabel">Pressure</p>
            <p id = "devicePressure" class = "numericMeasurement">{{lastMeasurement.pressure}}</p>
        </div>
    </div>
</div>