/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(235, 235, 235);
}

mwl-gauge {
    width: 110px;
    height: 110px;
    display: inline-block;
    padding: 0px;
}


#deviceTempGauge > .gauge > .dial {
    stroke: rgb(218, 218, 218);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
}

#deviceTempGauge > .gauge > .value {
    stroke: rgb(255, 47, 47);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
}

#deviceTempGauge > .gauge > .value-text {
    fill    : rgb(255, 47, 47);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

#devicePressureGauge > .gauge > .dial {
    stroke: rgb(218, 218, 218);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
}

#devicePressureGauge > .gauge > .value {
    stroke: rgb(48, 51, 226);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
}

#devicePressureGauge > .gauge > .value-text {
    fill    : rgb(72, 54, 228);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}